interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.themoviedb.org/3/search/movie?api_key=9017d5457c4e8ec5f0999d1b10012ae1&language=en-US&query=asldkjnkasnxlajsnxkasjxnas&include_adult=false&page=1
    response:
      body:
        string: '{"page":1,"results":[],"total_pages":0,"total_results":0}'
      headers:
        Content-Type:
          - application/json;charset=utf-8
      status:
        code: 200
        message: OK
      url: https://api.themoviedb.org/3/search/movie?api_key=9017d5457c4e8ec5f0999d1b10012ae1&language=en-US&query=asldkjnkasnxlajsnxkasjxnas&include_adult=false&region=US&page=1
version: 1
