interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.themoviedb.org/3/search/movie?api_key=9017d5457c4e8ec5f0999d1b10012ae1&language=en-US&query=The+Matrix&include_adult=false&page=1
    response:
      body:
        string:
          "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/waCRuAW5ocONRehP556vPexVXA9.jpg\",\"genre_ids\":[28,878],\"id\":603,\"original_language\":\"en\",\"original_title\":\"The
          Matrix\",\"overview\":\"Set in the 22nd century, The Matrix tells the story
          of a computer hacker who joins a group of underground insurgents fighting
          the vast and powerful computers who now rule the earth.\",\"popularity\":103.28,\"poster_path\":\"/f89U3ADr1oiB1s9GkdPOEpXUk5H.jpg\",\"release_date\":\"1999-03-30\",\"title\":\"The
          Matrix\",\"video\":false,\"vote_average\":8.2,\"vote_count\":22819},{\"adult\":false,\"backdrop_path\":\"/eNI7PtK6DEYgZmHWP9gQNuff8pv.jpg\",\"genre_ids\":[878,28,12],\"id\":624860,\"original_language\":\"en\",\"original_title\":\"The
          Matrix Resurrections\",\"overview\":\"Plagued by strange memories, Neo's life
          takes an unexpected turn when he finds himself back inside the Matrix.\",\"popularity\":123.018,\"poster_path\":\"/8c4a8kE7PizaGQQnditMmI1xbRp.jpg\",\"release_date\":\"2021-12-16\",\"title\":\"The
          Matrix Resurrections\"[...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.themoviedb.org/3/movie/603?api_key=9017d5457c4e8ec5f0999d1b10012ae1&language=en-US
    response:
      body:
        string:
          '{"adult":false,"backdrop_path":"/waCRuAW5ocONRehP556vPexVXA9.jpg","belongs_to_collection":{"id":2344,"name":"The
          Matrix Collection","poster_path":"/bV9qTVHTVf0gkW0j7p7M0ILD4pG.jpg","backdrop_path":"/bRm2DEgUiYciDw3myHuYFInD7la.jpg"},"budget":63000000,"genres":[{"id":28,"name":"Action"},{"id":878,"name":"Science
          Fiction"}],"homepage":"http://www.warnerbros.com/matrix","id":603,"imdb_id":"tt0133093","original_language":"en","original_title":"The
          Matrix","overview":"Set in the 22nd century, The Matrix tells the story of
          a computer hacker who joins a group of underground insurgents fighting the
          vast and powerful computers who now rule the earth.","popularity":103.28,"poster_path":"/f89U3ADr1oiB1s9GkdPOEpXUk5H.jpg","production_companies":[{"id":79,"logo_path":"/tpFpsqbleCzEE2p5EgvUq6ozfCA.png","name":"Village
          Roadshow Pictures","origin_country":"US"},{"id":174,"logo_path":"/IuAlhI9eVC9Z8UQWOIDdWRKSEJ.png","name":"Warner
          Bros. Pictures","origin_country":"US"},{"id":372,"logo_path":null,"name":"Groucho
          II Film Partnership","origin_country":""},{"id":1885,"logo_path":"/tXMFoE8AtNdnFzWOW0aCLwl7xxS.png","name":"Silver
          Pictures","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
          States of America"}],"release_date":"1999-03-30","revenue":463517383,"runtime":136,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Welcome
          to the Real World.","title":"The Matrix","video":false,"vote_average":8.2,"vote_count":22819}'
      headers:
        Content-Type:
          - application/json;charset=utf-8
        Etag:
          - W/"a0a92138e82228a1484d270e5e7115b4"
        X-Memc:
          - HIT
        X-Memc-Age:
          - "14976"
        X-Memc-Expires:
          - "2110"
        X-Memc-Key:
          - a52b63b61eb6422a5676648d45b03c1437ec1036
      status:
        code: 200
        message: OK
      url: https://api.themoviedb.org/3/movie/603?api_key=9017d5457c4e8ec5f0999d1b10012ae1&language=en-US
version: 1
