interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.themoviedb.org/3/search/movie?api_key=9017d5457c4e8ec5f0999d1b10012ae1&language=en-US&query=The+Matrix&include_adult=false&page=1&year=2021
    response:
      body:
        string:
          "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/eNI7PtK6DEYgZmHWP9gQNuff8pv.jpg\",\"genre_ids\":[878,28,12],\"id\":624860,\"original_language\":\"en\",\"original_title\":\"The
          Matrix Resurrections\",\"overview\":\"Plagued by strange memories, Neo's life
          takes an unexpected turn when he finds himself back inside the Matrix.\",\"popularity\":104.234,\"poster_path\":\"/8c4a8kE7PizaGQQnditMmI1xbRp.jpg\",\"release_date\":\"2021-12-22\",\"title\":\"The
          Matrix Resurrections\",\"video\":false,\"vote_average\":6.6,\"vote_count\":4516},{\"adult\":false,\"backdrop_path\":\"/waCRuAW5ocONRehP556vPexVXA9.jpg\",\"genre_ids\":[28,878],\"id\":603,\"original_language\":\"en\",\"original_title\":\"The
          Matrix\",\"overview\":\"Set in the 22nd century, The Matrix tells the story
          of a computer hacker who joins a group of underground insurgents fighting
          the vast and powerful computers who now rule the earth.\",\"popularity\":77.213,\"poster_path\":\"/f89U3ADr1oiB1s9GkdPOEpXUk5H.jpg\",\"release_date\":\"19[...]
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.themoviedb.org/3/movie/624860?api_key=9017d5457c4e8ec5f0999d1b10012ae1&language=en-US
    response:
      body:
        string:
          '{"adult":false,"backdrop_path":"/eNI7PtK6DEYgZmHWP9gQNuff8pv.jpg","belongs_to_collection":{"id":2344,"name":"The
          Matrix Collection","poster_path":"/bV9qTVHTVf0gkW0j7p7M0ILD4pG.jpg","backdrop_path":"/bRm2DEgUiYciDw3myHuYFInD7la.jpg"},"budget":190000000,"genres":[{"id":878,"name":"Science
          Fiction"},{"id":28,"name":"Action"},{"id":12,"name":"Adventure"}],"homepage":"https://www.whatisthematrix.com","id":624860,"imdb_id":"tt10838180","original_language":"en","original_title":"The
          Matrix Resurrections","overview":"Plagued by strange memories, Neo''s life
          takes an unexpected turn when he finds himself back inside the Matrix.","popularity":104.234,"poster_path":"/8c4a8kE7PizaGQQnditMmI1xbRp.jpg","production_companies":[{"id":79,"logo_path":"/tpFpsqbleCzEE2p5EgvUq6ozfCA.png","name":"Village
          Roadshow Pictures","origin_country":"US"},{"id":174,"logo_path":"/IuAlhI9eVC9Z8UQWOIDdWRKSEJ.png","name":"Warner
          Bros. Pictures","origin_country":"US"},{"id":84764,"logo_path":null,"name":"Venus
          Castina Productions","origin_country":"US"}],"production_countries":[{"iso_3166_1":"CA","name":"Canada"},{"iso_3166_1":"DE","name":"Germany"},{"iso_3166_1":"US","name":"United
          States of America"}],"release_date":"2021-12-16","revenue":156497322,"runtime":147,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Return
          to the Source.","title":"The Matrix Resurrections","video":false,"vote_average":6.552,"vote_count":4516}'
      headers:
        Content-Type:
          - application/json;charset=utf-8
        Etag:
          - W/"416e9740ce7439b9c1f51c40f28dcb4f"
        X-Memc:
          - HIT
        X-Memc-Age:
          - "8273"
        X-Memc-Expires:
          - "7008"
        X-Memc-Key:
          - 8312016bf93f1e2b2b9412af28ac5718a3119176
      status:
        code: 200
        message: OK
      url: https://api.themoviedb.org/3/movie/624860?api_key=9017d5457c4e8ec5f0999d1b10012ae1&language=en-US
version: 1
