interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api.themoviedb.org/3/search/movie?include_adult=false&language=en-US&query=The+Matrix&region=US
    response:
      body:
        string:
          "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/eNI7PtK6DEYgZmHWP9gQNuff8pv.jpg\",\"genre_ids\":[878,28,12],\"id\":624860,\"original_language\":\"en\",\"original_title\":\"The
          Matrix Resurrections\",\"overview\":\"Plagued by strange memories, Neo's life
          takes an unexpected turn when he finds himself back inside the Matrix.\",\"popularity\":96.593,\"poster_path\":\"/8c4a8kE7PizaGQQnditMmI1xbRp.jpg\",\"release_date\":\"2021-12-22\",\"title\":\"The
          Matrix Resurrections\",\"video\":false,\"vote_average\":6.6,\"vote_count\":4515},{\"adult\":false,\"backdrop_path\":\"/waCRuAW5ocONRehP556vPexVXA9.jpg\",\"genre_ids\":[28,878],\"id\":603,\"original_language\":\"en\",\"original_title\":\"The
          Matrix\",\"overview\":\"Set in the 22nd century, The Matrix tells the story
          of a computer hacker who joins a group of underground insurgents fighting
          the vast and powerful computers who now rule the earth.\",\"popularity\":67.747,\"poster_path\":\"/f89U3ADr1oiB1s9GkdPOEpXUk5H.jpg\",\"release_date\":\"19[...]
